/*==================== VARIABLES CSS ====================*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 206; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --primario-color: hsl(var(--hue-color), 94%, 72%);
    --secundario-color: hsl(var(--hue-color), 86%, 60%);
    --primario-color-lighter: hsl(var(--hue-color), 94%, 86% );
    --primario-color-btn-hover: hsl(var(--hue-color), 79%, 48%);
    --primario-color-btn: hsl(var(--hue-color), 87%, 39%);
    --contraste-color: #DB6E6B;
    --color-borde: 2px solid rgba(255, 255, 255, .08);

    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: #E0E0E0;
    --text-color-white: #f0f0f0;
    --text-color-parrafo: #9f9f9f;
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --container-color: #0d0a0b;
    --continaer-cards: #161616;
    --header-color: #1A1919;
    --icon-color: #F5F5F5;
    /*========== Font and typography ==========*/
    --body-font: "Roboto", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 4rem;
    height: 100vh;
}
html {
    scroll-behavior: smooth; /* Activa el desplazamiento suave */
}
body{
    font-family: var(--body-font);
    background-color: var(--container-color);
    color: var(--text-color-light);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--header-color); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: var(--primario-color); 
    border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secundario-color);
}

/* ===== navbar*/
.header {
    display: flex;
    justify-content: center;
}
.header__logo-img{
    width: 40px;
    height: 40px;
    display: none;
}
.header__nav {
    width: 95%; 
    position: fixed;
    bottom: 1rem;
    background-color: var(--header-color);
    padding: .5rem;
    border-radius: 2rem;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    font-size: var(--smaller-font-size); 
    transition: all 0.3s ease;
}

.header__menu-link:hover {
    color: var(--contraste-color)
}

.icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

/*  ========== hero*/
.hero {
    height: 100vh;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__image-wrapper {
    width: 100%;
    max-width: 250px;
    margin-bottom: 1.5rem;
}

.hero__image {
    width: 80%;
    height: auto;
    border-radius: 1rem; 
    mask-image: linear-gradient(to bottom, black 80%, transparent);
}

.hero__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hero__content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.hero__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primario-color);
}

.hero__subtitle {
    font-size: 1.25rem;
    color: var(--primario-color-lighter);
}

.hero__description {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    max-width: 90%; 
    margin: 0 auto;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border-radius: .75rem;
    font-size: 1rem; 
    font-weight: 600;
    gap: 0.5rem;
    background-color: var(--primario-color-btn);
    color: var(--text-color); 
}

.button {
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primario-color-btn-hover); /* Color al hacer hover */
}

.button svg {
    width: 1.25rem;
    height: 1.25rem;
}

/* ========== Sobre mi ==========*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.about__image-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 80%, transparent);
    mask-size: 100% 100%;
}
.about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__content {
    display: flex;
    flex-direction: column;
    text-align: left; 
    gap: .5rem; 
}

.about__heading {
    font-size: 18px;
    font-weight: 500;
    color: var(--primario-color); /* Ajustar al color primario */
}

.about__name {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color); /* Color neutro para el nombre */
}

.about__description {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color-parrafo);
    max-width: 100%;
    padding-bottom: 32px;
    border-bottom:var(--color-borde);
}

/* Botón de descargar CV */
.about__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.about__social-links{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.about__social-links::before {
    background-color: rgba(255, 255, 255, .25);
    content: '';
    height: 2px;
    width: 60px;
}

.about__social-icon{
    width: 1.5rem;
    height: 1.5rem;
    color: var(--icon-color);
}
.icon-tabler{
    width: 2rem;
    height: 2rem;
}

/* == === projectos ====*/

.projects {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem 5rem 1rem;
}
.projects__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}
.projects__title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color-white);
    position: relative; 
    margin-bottom: 1rem;
}
.projects__title::before{
    content: ""; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -5px; 
    height: 2px;
    background-color: var(--text-color-white);
    z-index: -1;
}
.projects__subtitle{
    font-size: 0.95rem;
    color: var(--text-color-parrafo);
    line-height: 29.25PX;
}

.projects__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.project--item {
    background-color: var(--continaer-cards);
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start; /* Centra el contenido horizontalmente */
    max-width: 380px;
    gap: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Agrega sombra */
    transition: transform 0.2s ease; /* Efecto de hover suave */
}
.project__name {
    font-size: 1.15rem;
    line-height: 24px;
    color: var(--text-color-white);
    font-weight: 500;
}
.project__description_{
    font-size: 0.875rem;
    color: var(--text-color-parrafo);
}
.project__image {
    max-width: 100%; 
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.project__button {
    display: inline-flex;
    background-color: var(--primario-color-btn); 
    color: var(--text-color-white); 
    border: none; 
    padding: 10px 15px;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.project__button:hover {
    background-color: var(--primario-color-btn-hover); 
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal--hidden {
    display: none;
}

.modal__content {
    background-color: var(--continaer-cards);
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
.modal__content__name{
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--text-color-white);
    margin-bottom: 1rem;
}
/* Botón de cierre */
.modal__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #f0f0f0;
}

.modal__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Primera columna (Carrusel) */
.modal__carousel {
    flex-basis: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: contain;
}
.carousel__button {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel__button--prev {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}
.modal__info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal__description {
    font-size: 0.875;
    color: var(--text-color-parrafo);
}

.modal__technologies {
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.modal__technologies li {
    display: flex;
    min-width: 100px; 
    padding: 8px 12px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    border-radius: 24px; 
    background: var(--primario-color-btn, #1594D3);
    color: white; 
    font-size: 0.875rem;
    text-align: center;
    white-space: nowrap;
}

/* ======== DISEÑO DE HABILIDADES ===============*/
.skill{
    padding: 3rem 0;
}
.skills__title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-white);
    position: relative; 
    margin-bottom: 1rem;
}

.skills__title::before{
    content: ""; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -5px; 
    height: 2px;
    background-color: var(--text-color-white);
    z-index: -1;
}

.skill__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Cambiado a center para alinear el título */
    justify-content: center;
    padding: 2rem 0; /* Espaciado interno para mejor presentación */
    gap: 2rem;
}


.skills__list{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.skills__list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: .5rem;
    background-color: var(--continaer-cards);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.skills__list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el cursor */
}
.skills__icon svg{
    width: 28px;
    height: 28px;
}
.skills__name{
    color: var(--text-color-white);
    font-size: 0.85rem; 
    text-align: center;
    font-weight: 400; 
}

/* ========= Educacion =============*/
.education{
    width: 90%;
    margin: 0 auto;
}
.education__title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--text-color-white);
    position: relative; 
    margin-bottom: 1rem;
}

.education__list {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    gap: 1.5rem;
}

.education__item {
    background-color: var(--continaer-cards);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.education__institution{
    display: block;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--text-color-white);
}

.education__type {
    font-size: 1rem;
    color: var(--text-color-parrafo);
}

.education__details {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.education__year,
.education__location {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espacio entre ícono y texto */
}

.education__icon {
    width: 1.2rem;
    height: 1.2rem;
}

.education__year-text,
.education__location-text {
    font-size: 1rem;
    color: var(--text-color); /* Color más oscuro para los detalles */
}

.education__description {
    font-size: 1rem;
    color: var(--text-color-parrafo);
    line-height: 1.5;
}

/* ======== contact ===================*/

.contact {
    text-align: center; /* Centra el contenido */
    margin: 2rem 0; /* Espaciado */
}

.contact__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact__description {
    margin-bottom: 1.5rem;
}

.contact__icons {
    display: flex;
    justify-content: center; /* Centra los iconos */
    gap: 1rem; /* Espaciado entre iconos */
}

.contact__icon-link {
    display: inline-block;
    width: 40px; /* Tamaño del icono */
    height: 40px; /* Tamaño del icono */
    text-decoration: none; /* Sin subrayado */
    color: currentColor; /* Color del icono */
    transition: transform 0.3s; /* Transición suave */
}

.contact__icon-link:hover {
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

/* footer */
.footer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 3rem 1rem;
}
.footer__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, .08);
}
.footer__section {
    flex: 1;
    margin-bottom: 1.5rem;
    min-width: 200px;
}

.footer__name {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer__social-links, .footer__links-list, .footer__social-info {
    margin-top: 1rem;
}
.footer__social-info{
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 1rem;
}

.footer__social-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}

.footer__social-item {
    display: flex;
    align-items: center;    
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px; 
    background-color: var(--header-color); 
    border-radius: 100%; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    color: #fff;
}

.footer__social-link:hover {
    background-color: var(--contraste-color); /* Cambia el color al pasar el mouse */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño del botón al pasar el mouse */
}

.icon-tabler__footer{
    width: 28px;
    height: 28px;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}


.footer__links-item {
    margin-bottom: 0.5rem;
}

.footer__section--copyright{
    text-align: center;
}
.footer__copyright {
    font-size: 0.875rem;
    margin-top: 1rem;
}

.footer__availability {
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: var(--header-color); 
    padding: .5rem;
    border-radius: 12px;
    width: 180px;
}

.availability-dot {
    width: 10px; 
    height: 10px; 
    background-color: #28a745;
    border-radius: 50%; 
    margin-right: 10px;
}



/*diseño tables*/
@media (min-width: 768px) {
    .header__nav{
        width: 700px; 
    }
    .header__logo-img{
        display: block;
    }
    .icon{
        width: 24px;
        height: 24px;
    }

    /* ==== */
    .education {
        padding: 3rem;
    }

    .education__title {
        font-size: 2.2rem;
    }

    .education__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem; /* Mayor espacio entre ítems en escritorio */
    }

    .education__item {
        width: calc(50% - 1rem); /* Cada ítem ocupará el 50% del ancho */
    }

    .education__year-text,
    .education__location-text {
        font-size: 1rem;
    }

    .education__description {
        font-size: 0.95rem;
    }
}

@media (min-width: 1024px) {
    main{
        max-width: 1024px;
        margin: 0 auto;
    }
    .header{
        width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 1rem;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .header__nav{
        position: relative;
        bottom: auto;
        background-color: transparent;
    }
    .header-blur {
        backdrop-filter: blur(5px);
        transition: backdrop-filter 0.3s ease;
    }
    .header__menu {
        justify-content: space-between;
    }

    .header__menu-link {
        flex-direction: row;
        font-size: var(--normal-font-size);
        gap: .5rem;
    }

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__container {
        flex-direction: row;
    }
    
    .hero__image-wrapper {
        max-width: 400px;
        align-items: start;
    }
    
    .hero__content-wrapper {
        gap: 2rem;
        align-items: start;
    }
    .hero__content{
        gap: 1rem;
        align-items: start;
    }
    .hero__title {
        font-size: 3rem;
        font-weight: 700;
        color: var(--primario-color);
    }
    
    .hero__subtitle {
        font-size: 2rem;
    }
    
    .hero__description {
        max-width: 100%; 
        text-align: start;
    }
    
    /* about */
    .about__container{
        width: 100%;
        height: 75%;
        flex-direction: row;
        gap: 1.5rem;
    }
    .about__image-wrapper {
        width: 41%;
        height: 100%;
        border-radius: 0;
    }
    .about__content {
        width: 55%;
        height: 100%;
        gap: 1rem; 
    }
    .about__heading {
        font-size: 22px;
    }
    .about__name {
        font-size: 1.75rem;
    }
    .about__description {
        font-size: 1rem;
    }
    
    .about__actions {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .about__social-links::before {
        width: 80px;
    }
    
    .modal__body {
        flex-direction: column;
    }
    
}